@import "tailwindcss";

@theme inline {
  --color-paper: var(--paper);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-mid: var(--mid);
  --color-muted: var(--muted);
  --color-link: var(--link);
  --color-dim: var(--dim);
  --color-ink: var(--ink);
  --color-ink-inv: var(--ink-inv);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 1.4;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.4;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.6;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.3;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.2;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 1.1;
  --text-3xl: 2rem;
  --text-3xl--line-height: 1.1;
}

:root {
  --paper: #F3F3EF;
  --surface: #E9E9E5;
  --border: #DCDCD8;
  --mid: #C5C5C1;
  --muted: #9C9C98;
  --link: #696966;
  --dim: #4A4A47;
  --ink: #111110;
  --ink-inv: #F3F3EF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper: #141312;
    --surface: #1E1D1B;
    --border: #2C2B28;
    --mid: #3D3C39;
    --muted: #72716D;
    --link: #949390;
    --dim: #A8A7A2;
    --ink: #E8E7E3;
    --ink-inv: #141312;
  }
}

body {
  font-family: var(--font-sans);
  background: var(--paper);
  color: var(--ink);
}
